@import '~@/assets/scss/function';
.axa-leader .showDom{
  &:after{
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 100px;
    @include leader-top;
  }
}
.EN{
  .index1:after{
    margin-left: 50%;
    width: 86%;
    height: 200px;
    background-image: url('~@/assets/image/leader/001.png');
  }
  .index2:after{
    margin-left: -30%;
    width: 100%;
    height: 200px;
    background-image: url('~@/assets/image/leader/002.png');
  }
  .user1:after{
    @include leader-bottom;
    background-image: url('~@/assets/image/leader/003.png');
  }
  .user2:after{
    @include leader-bottom;
    width: 40%;
    background-image: url('~@/assets/image/leader/004.png');
  }
  .user3:after{
    @include leader-bottom;
    width: 40%;
    background-image: url('~@/assets/image/leader/005.png');
  }
  .score1:after{
    @include leader-bottom;
    width: 40%;
    background-image: url('~@/assets/image/leader/006.png');
  }
  .score2:after{
    background-image: url('~@/assets/image/leader/007.png');
  }
  .score3:after{
    background-image: url('~@/assets/image/leader/008.png');
  }
}
.FAN{
  .index1:after{
    margin-left: 50%;
    width: 80%;
    height: 200px;
    background-image: url('~@/assets/image/leader/01.png');
  }
  .index2:after{
    margin-left: -40%;
    width: 110%;
    height: 200px;
    background-image: url('~@/assets/image/leader/02.png');
  }
  .user1:after{
    @include leader-bottom;
    width: 55%;
    background-image: url('~@/assets/image/leader/03.png');
  }
  .user2:after{
    @include leader-bottom;
    background-image: url('~@/assets/image/leader/04.png');
  }
  .user3:after{
    @include leader-bottom;
    background-image: url('~@/assets/image/leader/05.png');
  }
  .score1:after{
    @include leader-bottom;
    width: 40%;
    background-image: url('~@/assets/image/leader/06.png');
  }
  .score2:after{
    width: 56%;
    height: 80px;
    background-image: url('~@/assets/image/leader/07.png');
  }
  .score3:after{
    width: 44%;
    background-image: url('~@/assets/image/leader/08.png');
  }
}
