@import "_reset";
@import "_function";
@import "_variables";
@import "_leader";

.vux-tab-ink-bar {
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #04BE02;
  text-align: center;
}
.vux-tab-ink-bar-transition-forward {
  -webkit-transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
  transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
}
.vux-tab-ink-bar-transition-backward {
  -webkit-transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.vux-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  height: 44px;
  position: relative;
}
.vux-tab button {
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  -webkit-appearance: none;
          appearance: none;
}
.vux-tab .vux-tab-item {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), color-stop(#e5e5e5), to(rgba(229, 229, 229, 0))) bottom left no-repeat;
  background: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat;
  background: linear-gradient(180deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat;
  background-size: 100% 1px;
  font-size: 14px;
  text-align: center;
  line-height: 44px;
  color: #666;
}
.vux-tab .vux-tab-item.vux-tab-selected {
  color: #04BE02;
  border-bottom: 3px solid #04BE02;
}
.vux-tab .vux-tab-item.vux-tab-disabled {
  color: #ddd;
}
.vux-tab.vux-tab-no-animate .vux-tab-item.vux-tab-selected {
  background: 0 0;
}
/** when=prop:custom-bar-width **/
.vux-tab-bar-inner {
  display: block;
  background-color: #04BE02;
  margin: auto;
  height: 100%;
  -webkit-transition: width 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}



.fr{float:right;}
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Hiragino Sans GB","Century Gothic",system, Arial, Verdana, Tahoma,"微软雅黑", Arial,sans-serif;
  -webkit-overflow-scrolling : touch;
  text-size-adjust: 100%;
  font-weight: normal;
  // font-weight: lighter;
  /* 2 */
  width: 100%;
  height: 100%;
  user-select: none;
  position: relative;
  //touch-action: none;
  input,textarea{
    border: 1px solid #e7e7e7;
    border-radius: rem-calc(5px);
  }
}
$vue-green: #27a7ee;
.loader {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  text-indent: -9999em;
  border-top: 5px solid lighten($vue-green, 35%);
  border-right: 5px solid lighten($vue-green, 35%);
  border-bottom: 5px solid lighten($vue-green, 35%);
  border-left: 5px solid $vue-green;
  transform: translateZ(0);
  animation: loaderSpinner 1.1s infinite linear;
  z-index: 999;

  &,
  &:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
@keyframes loaderSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*******************************btn start***********************/
.bigblur-btn {
  font-size:16px;
  background-color:#00aeff;
  border-radius:4px;
  color:#fff;
  border:none;
  height:rem-calc(46px);
  line-height: rem-calc(46px);
  display: block;
  margin-left: rem-calc(15px);
  margin-right: rem-calc(15px);
}
/****************************btn end **************************/
.arrow_icon{
  position: relative;
  &:after{
    content:" ";
    display:block;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    transform: rotate(-45deg) scale(.5);
    width:rem-calc(20px);
    height:rem-calc(20px);
    position: absolute;
    top:28%;
    right:rem-calc(12px);
  }
}
.arrow_icon2{
  position: relative;
  &:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
  }
}
.arrow_icon3{
  position: relative;
  &:after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-width: 1px 1px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
  }
}
.is-danger{
  // box-shadow: 0px 0px 5px 1px #f8aeae;
  border-radius: rem-calc(5px);
  color: rgb(255, 0, 0) !important;
}
.alert:before{
  content: "*";
  color: #f00;
  line-height: 100%;
  vertical-align: middle;
}
.toastText{
  font-size: rem-calc(15px);
  padding: rem-calc(10px);
  line-height: 20px;
}
input{
  padding-right: rem-calc(3px);
}
/* chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none!important;
    margin: 0;
}
/* Firefox */
input[type=number]{
    -moz-appearance: textfield;
}
/* toast 字体太大，有点丑，改小一点*/
body .weui-toast__content{
  font-size: rem-calc(13);
  line-height: rem-calc(16);
  padding-top: 4px;
  padding-bottom: 4px;
}
/***弹性盒模型***/
.w-box {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
}
.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
.flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
}
.flex-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
}
/*width style*/
.box-cm,.box-ce,.pack-e {
  display: -moz-box;
  display: -webkit-box;
}
.box-cm {
  -moz-box-align: center;
  -webkit-box-align: center;
}
.box-ce {
  -moz-box-align: end;
  -webkit-box-align: end;
}
.pack-c {
  -moz-box-pack: center;
  -webkit-box-pack: center;
}
.pack-e {
  -moz-box-pack: end;
  -webkit-box-pack: end;
}

